@import "tailwindcss";

@theme {
  --color-primary-text: #f0ede6;
  --color-primary-secondary: #6b6d7e;
  --color-primary-accent: #c9a84c;

  --color-surface-base: #06070d;
  --color-surface-muted: #0e0f1a;
  --color-surface-raised: #1a1b2e;

  --color-border-default: #1a1b2e;
  --color-border-muted: #2a2b3e;

  --font-family-heading: "Syne", sans-serif;
  --font-family-body: "Inter", sans-serif;
  --font-family-code: "JetBrains Mono", monospace;

  --transition-duration-instant: 50ms;
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 200ms;

  --radius-xs: 6px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --radius-xl: 999px;
}

* {
  border-color: var(--color-border-default);
}

body {
  background-color: var(--color-surface-base);
  color: var(--color-primary-text);
  font-family: var(--font-family-body);
}
